<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminDeshbord</title>

    <link rel="stylesheet" href="/css/diffcss.css">

</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="bodysection">
        <div class="maincontent">
            <!-- <button class="btn" onclick="location.href='/authapi/v1/alladmin'" type="button">Admins</button> -->
        </div>
        <div class="adminapp">
            <% if(useronly.length === 0) {%>
                <h2>No user with Admin privilege</h2>
                <%};%>
                <% { %>
                    <% useronly.forEach(data => { %>
                        <div class="userboxes">
                            <div class="maininfo">
                                <h2>Name:<%=  data.name%></h2>
                                <h2> Email:<%=  data.email%></h2>
                            </div>
                            
                            <div class="rolediv">
                            <h4><%=  data.role%></h4>
                            <button class="btn btn1" style="margin-top: 10px;"  
                            onclick="location.href='/authapi/v1/findone/<%= data._id%>'"  
                            type="button">update</button>
                            <button class="btn btn2"   
                            onclick="location.href='/authapi/v1/findone/<%= data._id%>'"  
                            type="button">Delete</button>
                            
                            </div>

                        </div>
                       
                    <% })%>
                <%}%>
        </div>
        
    </section>

</body>
</html>